@tailwind base;

body.dark {
  background-color: #000;
  color: rgba(255, 255, 255, 1);
}

@tailwind components;
@tailwind utilities;

:root {
  --shadow-color: 0deg 0% 0%;
}

input[type="checkbox"]:checked ~ * {
  text-decoration: line-through;
  transition: color 0.2s ease-in-out;
  color: rgba(113, 113, 122, 1);
  filter: grayscale(100%);
}
